@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*INICIO HEADER*/
.logo {
  width: 200px;
  margin-left: 20px;
}

.encabezado {
  background-color: black;
  border-top: 5px solid rgb(239, 137, 55);
}
.encabezado nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}
.encabezado nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.encabezado nav ul li a:hover {
  color: rgb(239, 137, 55);
}

/*FIN HEADER*/
/*INICIO FOOTER*/
footer {
  width: 100%;
  background-color: black;
}

.footerGrupo1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-top: 20px;
}

figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFooter {
  width: 300px;
  padding-right: 30px;
}

.caja h3 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 10px;
}
.caja a {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}
.caja a:hover {
  text-decoration: underline 2px;
}
.caja li {
  list-style: none;
}
.caja ul {
  padding-left: 30px;
  margin: 0px;
}

.redSocial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redSocial a {
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 18px;
}
.redSocial svg {
  width: 32px;
  height: 32px;
  transition: 0.4s;
}
.redSocial svg:hover {
  width: 48px;
  height: 48px;
}

.footerGrupo2 {
  background-color: black;
  color: rgb(145, 145, 145);
  padding: 10px 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

/*FIN FOOTER*/
/* INICIO TEXTOS Y TITULOS GENERALES */
.titulos {
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.textoPrincipal {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0px 50px;
}

/* FIN TEXTOS Y TITULOS GENERALES */
/* INICIO BTN */
.btn-primary {
  background-color: rgb(239, 137, 55);
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  box-shadow: 0px 3px 8px;
}
.btn-primary:hover {
  background-color: rgb(202, 101, 19);
  color: white;
}

/*FIN BTN*/
/* INICIO PARALLAX */
.parallax {
  background-image: url(../img/Parallax2.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.textoParallax {
  margin: 50px 0px;
  background-color: rgba(255, 255, 255, 0.616);
  padding: 30px;
}
.textoParallax h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
.textoParallax p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0px;
}

/* FIN PARALLAX */
/* INICIO CARDS TESTIMONIO */
.contendorCardTestimonio {
  display: flex;
  flex-wrap: wrap;
}

.cardTestimonio {
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  justify-content: space-between;
}
.cardTestimonio p {
  color: white;
  font-size: 1.2;
  font-weight: 300;
}

.perfil {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.perfil img {
  width: 60px;
  border-radius: 50%;
  margin-right: 30px;
}

.textoPerfil {
  display: flex;
  flex-direction: column;
  color: white;
}
.textoPerfil .fecha {
  color: rgb(145, 145, 145);
  font-size: 1rem;
  font-weight: 300;
}

/* FIN CARDS TESTIMONIO */
/* INICIO SECCCION NOSOSTROS */
.contenedorInformacion {
  background-color: rgb(24, 24, 24);
  padding: 40px 50px;
  margin: 45px 0px;
  box-shadow: 0px 8px 10px;
}
.contenedorInformacion h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
  border-bottom: 5px solid rgb(239, 137, 55);
  display: inline-block;
  padding-bottom: 14px;
}
.contenedorInformacion p {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}
.contenedorInformacion strong {
  font-weight: 700;
}

/* FIN SECCION NOSOSTROS */
/*INICIO SERVICIOS*/
.contenedorServicios {
  display: flex;
  flex-wrap: wrap;
}

.cardServicios {
  max-width: 100%;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 2px 6px #494949;
  transition: all 0.5s;
}
.cardServicios img {
  border-radius: 8px 8px 0px 0px;
  max-height: 250px;
  height: 250px;
  width: 100%;
}
.cardServicios h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cardServicios p {
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 15px 15px 15px;
}
.cardServicios:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px;
}

/*FIN SERVICIOS*/
/*INICIO PROYECTOS*/
.tituloProyecto {
  background-color: rgba(0, 0, 0, 0.753);
  padding: 5px;
  margin: 0px;
  font-size: 1rem;
  font-weight: 500;
}

.card-img-overlay {
  padding: 0px;
  display: flex;
  align-items: end;
}

.cardProyectos {
  padding: 0px;
  border: none;
  box-shadow: 0px 6px 10px #494949;
  filter: grayscale(65%);
  transition: all 0.7s;
  cursor: pointer;
}
.cardProyectos:hover {
  filter: grayscale(0%);
}

.card-img {
  border-radius: 0px;
}

.over {
  overflow-x: hidden;
}

/*FIN PROYECTOS*/
/*INCIO CONTACTO*/
/* datos */
.datos {
  background: linear-gradient(to right, rgb(239, 137, 55), #e4ac20);
  padding: 20px;
  border-radius: 15px;
  max-height: 800px;
  box-shadow: 0px 2px 6px;
}

.mapa {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
}
.mapa iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  max-height: 440px;
}

.medios {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.medios svg {
  width: 25px;
  height: 25px;
  color: black;
}
.medios p {
  margin-bottom: 0px;
  margin-left: 25px;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.textoDatos {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 15px 0px;
  color: black;
}

.tituloDatos {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  color: black;
}

/* formulario */
input, textarea, select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  margin: 0px 0px 20px 0px;
}

label {
  display: block;
  margin: 0px 0px 10px 0px;
  font-size: 1.2rem;
  font-weight: 700;
}

/* FIN DE SECCION CONTACTO */
/* MEDIA */
@media (max-width: 768px) {
  /* footer */
  .footerGrupo1 {
    width: 70%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 20px 0px;
  }
  .caja ul {
    padding: 0px;
  }
  .caja h3 {
    text-align: center;
    padding: 0px;
  }
  .caja li {
    text-align: center;
  }
  .redSocial {
    justify-content: center;
  }
  .logoFooter {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  /*IMAGENES DE PROYECTOS*/
  .cardProyectos {
    filter: grayscale(0%);
  }
}
/*FIN MEDIA*/

/*# sourceMappingURL=estilo.css.map */
