/* MEDIA */
@media (max-width:768px) {
    /* footer */
     .footerGrupo1{
         width: 70%;
         grid-template-columns: repeat(1, 1fr);
         grid-gap: 30px;
         padding: 20px 0px;
     }
 
     .caja {

        ul {
            padding: 0px;
        }

         h3 {
             text-align: center;
             padding: 0px;
         }
     
         li {
             text-align: center;
         }
         
     }
 
     .redSocial {
         justify-content: center;
     }
     
     .logoFooter {
         width: 250px;
     }
 
     /* header */
     .encabezado a {
         text-decoration: none;
         font-size: 1rem;
         font-weight: bold;
     }

 }

 @media (max-width:1200px) {
    /*IMAGENES DE PROYECTOS*/

    .cardProyectos {
        filter: grayscale(0%);
    }

 }
 /*FIN MEDIA*/