/*INICIO SERVICIOS*/
.contenedorServicios{
    display: flex;
    flex-wrap: wrap;
}

.cardServicios {
    max-width: 100%;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 2px 6px  #494949;
    transition: all 0.5s;
    
    img{
        border-radius: 8px 8px 0px 0px;
        max-height: 250px;
        height: 250px;
        width: 100%;
    }

    h3 {
        text-align: center;
        @include textoConParametos (1.4rem, 700);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    p {
        @include textoConParametos (1rem, 300);
        padding: 0px 15px 15px 15px;
    }

    &:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px;
    }
}
/*FIN SERVICIOS*/


